<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   <!--  FAFICON ???-->
    

    <title> Cami_Chat_App </title>
    <link rel="stylesheet" href="/css_1/main.css">
    <script src="/reload/reload.js"></script> 
   
    
</head>
<body>
    <div id="overlay"> Please enter your nickname 
        <input type="text" id='inputNickname'> 
        <div class='errorField'> </div>
        <div id='submitname'> Submit </div>
        <div id='socketDescr'> <p> This chat implements
        <b> Socket.io. </b> 
        <br /> <a href="https://en.wikipedia.org/wiki/Socket.IO" >Socket.IO</a> is a JavaScript library for realtime web applications. It enables realtime, bi-directional communication between web clients and servers. <br /> It has two parts: a client-side library that runs in the browser, and a server-side library for Node.js. Both components have a nearly identical API. Like Node.js, it is event-driven.</p></div>
    </div>
    <div class='violet'> 
        <div id="wrapper">
            <div id="menu">
                <h1 class="welcome">Welcome to my first app with socket.io</h1>
                 <h2> Status: <div id='alert'> </div> </h2>
            </div>
        </div>
    </div>
    <div class='skewed-violet'> </div>
    <div class='green'> 
        <div style="clear:both"> 
                    <h2> Hi <div class='nickname'>  </div> 
                        <div id='status'>  </div> 
                        <div id='warningReset'> </div>
                    </h2>
        
        </div>
        <div id="chatConversation"> 
            <ul id='chatList'> </ul>
        </div>
        <form name="message" id='chatbox'>
            <input name="usermsg" type="text" id="usermsg" size="63" value='type here your message' />
            <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
        </form>
    </div>
    <div id='out'>
        <h1> <a id="exit" href="/toobad"> Or Leave the Chat </a> </h1>
    </div>
    
        
    

    <script src='/js/jquery-3.2.0.min.js'> </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/js/chat.js'></script>
    
</body>
</html>