@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Unica+One');

.violet{
  padding:20px;
  text-align:center;
  height:100px;
  background: rgba(155, 100, 170, 0.4) 50%
}

.green{
  padding:20px;
 text-align:center;
  height:100px;
  background: rgba(120, 150, 150, 0.4) 49%
}


.skewed-violet {
    opacity: 0.2;
    width: 100%;
    height: 100px;
    position: relative;
    left: 0px;
    background: linear-gradient(to left bottom, rgba(120, 150, 150, 1) 49%, rgba(155, 100, 170, 1) 50%);
}

.welcome {
  font-weight: bold;
  font-size: 28px;
}
h1, h2, .nickname {
  color: #2C2A7F;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Unica One', cursive;

}
p {
  color: #2C2A7F;
  font-size: 20px;
  font-family: 'Shadows Into Light Two', cursive;
}

#overlay {
    font-family: 'Shadows Into Light Two', cursive;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 1;
    text-align: center;
    padding-top: 50px;
}
.errorField{
  visibility: hidden;
  
  margin: 0 auto;
  color: #B21039;
  font-family: 'Shadows Into Light Two', cursive;
}
#wrapper { 
 background: #FF3064;
}
#submitname {
  background-color: #FF3064;
  color: #B21039;
  border-radius: 20px;
  border:2px solid #B21039;
  width: 70px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 7px 3px;
  font-family: 'Unica One', cursive;
}
#usermsg{
  border-radius: 10px;
  border:2px solid #B21039;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px 10px;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 17px;
}

#chatbox {
  border-color: #FF3064;
  border-width: 7px;
  border-radius: 10px;
  border-style: solid;
  text-align:left;
  margin:0 auto;
  margin-bottom:25px;
  padding:10px;
  background:#fff;
  height:370px;
  width:630px;
  overflow:auto; 
}
#chatConversation {
  color: #0A0113;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 17px;
  border-color: #0A0113;
  border-style: solid, 4px;
}
#status {
  color: #2C2A7F;
  font-size: 23px;
  font-family: 'Unica One', cursive;
}
#exit{
  color: #E3D61E;
  font-weight: bold;
}
#out{
  padding:20px;
  text-align:right;
  vertical-align: text-bottom;
  height:100px;
}

#warning{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 20px;
  color: #B21039;

}
#warningReset{
  font-family: 'Unica One', cursive;
  font-size: 20px;
  color: #B21039;
  margin-top: 10px;
}
#submitmsg{
    margin: 0;
    padding: 5px 15px;
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #E3D61E;
    background: #12C3CC;
    background: -webkit-gradient(linear, left top, left bottom, from(#12C3CC), to(#0078a5));
    
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px; 
}
#submitmsg:hover{
  text-decoration: none;
      background: #0FA1A8;
      background: -webkit-gradient(linear, left top, left bottom, from(#12C3CC), to(#00678e));
      background: -moz-linear-gradient(top, #0095cc, #00678e);
      border-top-left-radius: 5px 5px;
      border-bottom-left-radius: 5px 5px; 
}